.product_buttons.customs {
  margin-top: 0px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}
.row.load_more_row.customs{
  margin-top:0px;
}
.product.customs{
  margin-bottom:0px;
}

.masthead.text-center.text-white{
  background-image: url('./components/Header/images/home-dbh-1.png');
}